.projects-container {
    background-color: #EEEEEE;
    color: black;
    height: auto;
    padding: 0 10% 0 10%;
}

.portfolio-container {
    width: 70vh;
    height: 50vh;
    margin-right: 2%;
    margin-bottom: 2%;
}

.portfolio-item {
    background: white;
    width: 25rem;
    height: 400px;
    margin: 1%;
    border-radius: 0 0 3% 3%;
    display: flex;
    box-shadow: 5px 5px 15px gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.projects-container {
    padding: 0 5% 0 5%;
}

@media screen and (max-width:350px) {
    .portfolio-item {
        height: 410px;
        width: 300px;
        padding-bottom: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    .portfolio-item-cta {
        display: flex;
        gap: 1rem;
        margin-bottom: 5%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        margin-left: 10px;
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
        font-size: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);
    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

.btnBack {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

.iconStyleInfo {
    width: 50px;
    height: 50px;
    margin: 1%;
    border-radius: 50%;
}


@media screen and (min-width: 351px) and (max-width: 544px) {
    .portfolio-item {
        height: 440px;
        width: 460px;
        margin-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 5% 0 5%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:545px) {
    .portfolio-item {
        height: 440px;
        width: 544px;
        padding-bottom: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:800px) {
    .portfolio-item {
        height: 440px;
        width: 544px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 50px;


    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

/* .portfolio-item:hover {
    border-color: rgb(1, 36, 65);
    background: #80bdd3;
    opacity: 1;
    color: white;
} */

.portfolio-item-img {
    overflow: hidden;


}

.portfolio-item>h2 {
    margin: 1.2 0 2rem;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.portfolio-item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 5%;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.portfolio-img {
    min-width: 220px;
    width: 100%;
    height: 100%;
}

/* ================================= BOTONES CARDS ===================== */
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}


.btn {
    border: 5px solid black;
    border-image-slice: 1;
    color: white;
    background: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
    text-align: center;

}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
    transform: scale(1.2);
}

/* ============= ESTILOS TECONOLOGIAS CARDS =============== */

.iconLike {
    color: black;
    display: flex;
    /* flex-direction: column; */
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.iconLike:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);


}

.numberLikes {
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
}








/* ============ ESTILOS CARD INFORMACION ===================== */


.projects-container {
    background-color: #EEEEEE;
    color: black;
    height: auto;
    padding: 0 10% 0 10%;
}

.portfolio-container {
    width: 70vh;
    height: 50vh;
    margin-right: 2%;
    margin-bottom: 4%;

}

.portfolio-item-info {
    background: white;
    margin: 1%;
    border-radius: 0 0 3% 3%;
    display: flex;
    box-shadow: 5px 5px 15px gray;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-item:hover {
    box-shadow: 5px 5px 15px #e6221b;

}

.projects-container {
    padding: 0 5% 0 5%;
}

@media screen and (max-width:350px) {
    .portfolio-item-info {
        height: auto;
        width: 300px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    .portfolio-item-cta {
        display: flex;
        gap: 1rem;
        margin-bottom: 7%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        margin-left: 10px;
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
        font-size: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (min-width: 351px) and (max-width: 544px) {
    .portfolio-item-info {
        height: auto;
        width: 460px;
        margin-top: 30px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 5% 0 5%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:545px) {
    .portfolio-item-info {
        height: auto;
        width: 544px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:800px) {
    .portfolio-item-info {
        height: auto;
        width: 544px;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .projects-container {
        padding: 0 3% 0 3%;
    }

    :root {
        --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
    }


    .btn {
        border: 5px solid black;
        border-image-slice: 1;
        color: white;
        background: var(--gradient) !important;
        /* border-image-source: white; */
        text-decoration: none;
        transition: all .4s ease;
        text-align: center;
    }

    .btn:hover,
    .btn:focus {
        background: var(--gradient) !important;
        -webkit-text-fill-color: #fff !important;
        border: 5px solid #fff !important;
        box-shadow: #222 1px 0 10px;
        text-decoration: none;
        transform: scale(1.2);
    }

    /* ============= ESTILOS TECONOLOGIAS CARDS =============== */

    .iconLike {
        color: black;
        display: flex;
        /* flex-direction: column; */
        border: none;
        background: transparent;
        justify-content: center;
        align-items: center;
    }

    .iconLike:hover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);


    }

    .numberLikes {
        display: flex;
        margin: auto;
        padding: auto;
        justify-content: center;
        align-items: center;
    }
}


.portfolio-item-img {
    overflow: hidden;


}

.portfolio-item-info>h2 {
    margin: 1.2 0 2rem;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.portfolio-item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.titlestyle {
    margin-top: auto;
    margin-bottom: 1rem;
}

.portfolio-img {
    min-width: 220px;
    width: 100%;
    height: 100%;
}

/* ================================= BOTONES CARDS ===================== */
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}


.btn {
    border: 5px solid black;
    border-image-slice: 1;
    color: white;
    background: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
    text-align: center;

}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
    transform: scale(1.2);
}

/* ============= ESTILOS TECONOLOGIAS CARDS =============== */

.iconLike {
    color: black;
    display: flex;
    /* flex-direction: column; */
    border: none;
    background: transparent;
    justify-content: center;
    align-items: center;
}

.iconLike:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);


}

.numberLikes {
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
}